table {
  border-spacing: 0;
  margin-bottom: 2rem;
}
thead {
  background: #333a40;
  font-size: 18px;
  color: #fff;
}

td {
  padding: 0.5rem 4rem 0.5rem .75rem;
  border-bottom: 1px solid #00000050;
}
